.example-spacer {
    flex: 1 1 auto;
}

.container {
    flex-direction: row, row-reverse, column, column-reverse;
    background-color: #fafafa;
}

.search {
    margin-top: 32px;
    margin-left: 47px;
    width: 48%;
    height: 40px;
    background-color: #fafafa;
    border: 2px solid #6CCACC;
    border-radius: 40px;
    opacity: 1;
    display: flex;
}

.mat-form-field-infix ng-tns-c87-0 {
    border-width: 0px;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 50px;
    width: 70%;
}

.mic {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.eyeImage {
    width: 55px;
    height: 45px;
    opacity: 1;
}

.element {
    top: 18px;
    left: 1200px;
    width: 33px;
    height: 33px;
    flex-direction: row-reverse;
    position: absolute;
}

.toolbar {
    height: auto;
    border-bottom: 1.5px solid lightslategrey;
}

.search_2nd {
    margin-top: 25px;
    margin-left: 153px;
    width: 17px;
    height: 17px;
    display: flex;
    opacity: 1;
}

.text {
    color: #6CCACC;
    font-size: 14px;
    margin-bottom: 8px;
}

.expansion {
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 500px;
    height: 541px;
    margin-left: 42PX;
    margin-top: 28px;
    opacity: 1;
    background-color: transparent!important;
}

.example-card {
    display: block;
    position: absolute;
    width: 20%;
    margin-top: 7.8%;
    margin-left: 79%;
}

.example-section {
    align-content: center;
    align-items: center;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    color: #6CCACC;
    font-size: 14px;
    margin-bottom: 8px;
}

.example-margin {
    margin: 0 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 500px;
    height: 541px;
    margin-left: 42PX;
    margin-top: 28px;
    opacity: 1;
    background-color: transparent!important;
}

.form_main {
    width: 100%;
}

.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}

.heading {
    border-bottom: 2px solid #6CCACC;
    padding-bottom: 9px;
    position: relative;
    color: #6CCACC;
}

.IRNO {
    top: 168px;
    left: 62px;
    width: 86px;
    height: 17px;
    text-align: left;
    font: Regular 14px/17px Lato;
    letter-spacing: 0px;
    color: #000E0F;
    opacity: 1;
}

.severity {
    top: 168px;
    width: 57px;
    height: 19px;
    text-align: left;
    letter-spacing: 0px;
    padding-left: 100px;
    opacity: 1;
    color: #3333338A;
}

.IssueRep {
    top: 198px;
    left: 62px;
    width: 353px;
    height: 17px;
    text-align: left;
    font: Bold 14px/17px Lato;
    letter-spacing: 0px;
    color: #CC1D7C;
    opacity: 1;
}

.workaround {
    top: 228px;
    left: 62px;
    width: 897px;
    height: 41px;
    text-align: left;
    font: Regular 14px/24px Lato;
    letter-spacing: 0px;
    color: #333333D6;
    opacity: 1;
}

.IA {
    top: 15px;
    left: 62px;
    width: 68px;
    height: 17px;
    text-align: left;
    font: Regular 14px/17px Lato;
    letter-spacing: 0px;
    color: #3333338A;
    opacity: 1;
    white-space: nowrap;
}

.Date {
    top: 232px;
    padding-left: 75px;
    white-space: nowrap;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
    background: white;
}

.rootcause {
    top: 228px;
    left: 62px;
    width: 897px;
    height: 41px;
    text-align: left;
    font: roboto 14px/24px Lato;
    letter-spacing: 0px;
    color: #333333D6;
    opacity: 1;
}

.ActionResolutionWorkaround {
    top: 228px;
    left: 62px;
    width: 897px;
    height: 41px;
    text-align: left;
    font: Regular 14px/24px Lato;
    letter-spacing: 0px;
    color: orange;
    opacity: 1;
}

.Functionality {
    top: 228px;
    padding-left: 4px;
    width: 30px;
    height: 17px;
    text-align: left;
    font: Regular 14px/17px Lato;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    white-space: nowrap;
}

.fun_img {
    top: 228px;
    padding-left: 70px;
    width: 14px;
    height: 14px;
}

.report {
    top: 228px;
    padding-left: 200px;
    width: 78px;
    height: 17px;
    text-align: left;
    font: Regular 14px/17px Lato;
    letter-spacing: 0px;
    color: #3333338A;
    opacity: 1;
}

.editser {
    top: 168px;
    left: 257px;
    width: 21px;
    height: 21px;
    padding-left: 50px;
    opacity: 1;
}

.account_circle {
    top: 18px;
    left: 1193px;
    width: 33px;
    height: 33px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-input-placeholder:enabled {
    display: none;
}

.lds-roller {
    top: 50%;
    left: 50%;
    position: fixed;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #6CCACC;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}