.background {
    background: transparent url('../../../assets/bg.png') 0% 0% no-repeat padding-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    opacity: 100%;
    height: 100%;
}

.mph-logo {
    position: absolute;
    margin-top: 1%;
    margin-left: -2%;
    opacity: 10;
}

.eye-sym {
    position: absolute;
    margin-top: 3%;
    margin-left: 29%;
    opacity: 10;
}

.oncall {
    position: absolute;
    margin-top: 3.5%;
    margin-left: 33.5%;
    opacity: 10;
    font: Bold Italic 16pt/24pt Montserrat;
    align-content: left;
    letter-spacing: 1px;
    text-align: justify;
    color: #FFFFFF;
}

.bookS:hover {
    box-shadow: currentColor;
}

.bookS {
    position: absolute;
    background-position: center;
    background-image: transparent url(../../../assets/images.jpg) 50% 50%;
    margin-top: 4%;
    margin-left: 70%;
    width: 20%;
    height: auto;
    box-sizing: 6px 6px 6px 6px;
    border-color: #caad76;
    align-content: center;
    opacity: 100;
}

.mat-form-field-appearance-outline {
    margin: -10px 2px 5px;
    margin-left: -4%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(189, 74, 145);
    border: 0;
    padding: 6px;
}

.mat-form-field-appearance-outline .mat-input-element {
    color: rgb(176, 243, 248);
}

.pw {
    -webkit-text-security: disc;
}

.error {
    color: red;
    font-style: italic;
}

.lable {
    color: aqua;
    font-style: italic;
    font-size: smaller;
}

.reset {
    color: white;
    font-size: small;
}

.list-select {
    background-color: transparent;
}

.list-bg {
    background-color: rgb(21, 25, 80);
    color: rgb(176, 243, 248);
    font-style: italic;
}